torch>=2.0
jupyter
jupyterlab
black>=23.3.0
flake8>=0.3.6
mypy>=1.6.1
data-science-types
plotly
pandas
tqdm
scikit-learn
click
pyyaml
kaleido
flake8-black
tables
fairscale
matplotlib
Pillow
pygame
pre-commit
pymongo
imageio
